@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
     .main-card{
          @apply bg-secondary max-w-[257px] flex flex-col justify-center rounded-[15px] px-4 pt-1 pb-4 min-h-[180px]
     }
}

@font-face {
     font-family: moranga;
     src: url('../../public/font/Moranga-BoldIt.otf');
}
.font-moranga{
     font-family: moranga !important;
}


/* width */
::-webkit-scrollbar {
     width: 4px;
   }
   
/* Track */
 
/* Handle */
::-webkit-scrollbar-thumb {
background: #F18753; 
}
